run = "npm run start"
hidden = [".config", "package-lock.json"]
language = "nodejs"

[env]
PATH = "/root/.local/share/pnpm"

[nix]
channel = "stable-22_11"

[packager]
language = "nodejs"
  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = false

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
  [languages.javascript.languageServer]
  start = ["typescript-language-server", "--stdio"] 